
@import "bootstrap/dist/css/bootstrap.min.css";

.cellTable  {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
  

}
#cellTableInput  {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 5%;
    padding-bottom: 0;
    border:  none;
    

}

#rowTable {
    border: 1px solid #132c54;
    background: white;
    margin-top: 10px;
    padding-left: 0;
    margin-left: 0;
    padding-right: 20px;
}
#entryForm{
    margin-left: 50px;
    
}
#addColumnButton{
    background: linear-gradient(-45deg, #0eb6cc, #28a17d, #82d0e8, #273b4f);
   background-size: 400% 400%;
   animation: gradient 30s ease infinite;
   border: none;
    margin-left: 10px;
    display: inline;
}
#addRowButton{
    background: linear-gradient(-45deg, #0eb6cc, #28a17d, #82d0e8, #273b4f);
   background-size: 400% 400%;
   animation: gradient 30s ease infinite;
   border: none;
   margin-right: 10px;
    left: 0px;
}
#removeColumnButton{
    background: linear-gradient(-45deg, #0eb6cc, #28a17d, #82d0e8, #273b4f);
   background-size: 400% 400%;
   animation: gradient 30s ease infinite;
   border: none;
    margin-left: 10px;
    display: inline;
}
#removeRowButton{
    background: linear-gradient(-45deg, #0eb6cc, #28a17d, #82d0e8, #273b4f);
   background-size: 400% 400%;
   animation: gradient 30s ease infinite;
   border: none;
   margin-right: 10px;
    left: 0px;
}
#calculateRowButton{
    background: linear-gradient(-45deg, #0eb6cc, #28a17d, #82d0e8, #273b4f);
   background-size: 400% 400%;
   animation: gradient 30s ease infinite;
   border: none;
    left: 0px;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.entryDiv{
    display: flex;
    margin-top:  1%;
}
.tableEntryDiv{
    margin-right: 0px;
    padding-right:0px;
    display: grid;

}
.addColumnDiv{
    display: inline;
}
.onlyTableEntryDiv{
 
    display: flex;
    
}
#entryTable{
    padding-bottom: 0px;
    margin-bottom: 8px;
}
.downButtonsDiv{
    padding-top:0px;
    margin-top: 0;
    margin-left: 50px;
    display: flex;
}

