.App {

  color: blue;
   background: linear-gradient(-45deg, #0eb6cc, #28a17d, #82d0e8, #273b4f);
   background-size: 10000% 10000%, cover;
   background-repeat: repeat-x;
   animation: gradient 15s ease infinite;
   height: 2000%;
   min-height: 100vh;
   min-width: 100vh;
   
   padding-top: 60px; 

 }
 
 @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
 }
 .finalResults{

  display: flex;
 }
 .finalTable{
   display: flex;
 }
 .deltasResults{
  display: flex;
 }
 .endResults{
  display: flex;
 }
 .strings{
  display: flex;
  margin-right: 0px;
  color: white;
  margin-left: 50px;
  margin-top: 10px;

 }